$red: #EABC03;
$dark_blue: #2E4259;
$light_grey: #EDEDED;
$medium_grey: #B8B8B8;
$light_blue: #03C8FA;
$dark_grey: #737373;
$sky_blue: #78D8DB;
$white: white;
$green: #009722;
$control_panel_widget_color: #036AA9;
$control_panel_widget_background: #D4E8F4;
$dark_red: #C01139;

$background : '../assets/grid_bright.png';