$red: #910010;
$dark_blue: silver;
$light_grey: #EDEDED;
$medium_grey: #B8B8B8;
$light_blue: #03C8FA;
$dark_grey: #737373;
$sky_blue: #78D8DB;
$white: white;

$background-light : '../assets/grid.jpg';
$background : '../assets/grid_light.png';